.countries-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
}

.country-card {
  width: 150px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  padding: 20px;
}

.nav {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 24px;
  width: 100%;
}

.input {
  border-radius: 2px;
  padding: 8px;
  appearance: none;
  outline: none;
  border: 1px solid grey;
  max-width: 1200px;
  flex: 1;
}
